<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>List of Owners</title> 
</head>
<body>
<!--/*@thymesVar id="owner" type="application.model.Owner"*/-->
           <h1 th:text="'List of Owners'">List of Vets</h1>

          <table>
              <thead>
              <tr>
                  <th>ID</th>
                  <th>FirstName</th>
                  <th>LastName</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="owner :${owners}">
                  <td th:text="${owner.id}">1
                  <td th:text="${owner.firstName}">Joe</td>
                  <td th:text="${owner.lastName}">Buck</td>
              </tr>
              </tbody>

          </table>
</body>
</html>